@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

#home, #about, #mission, #roadmap, #rover, #team, #advisers, #partners, #contact, #support, #positions {
  scroll-margin-top: 110px;
}